*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#111827;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:95%;
    max-width:800px;
    text-align:center;
}

h1{
    margin:20px 0;
    color:#38bdf8;
}

video,
canvas{
    width:100%;
    max-width:700px;
    border-radius:15px;
    border:3px solid #38bdf8;
    margin-top:15px;
    background:#000;
}

.gesture-box{
    margin-top:20px;
    background:#1f2937;
    padding:20px;
    border-radius:15px;
    border:2px solid #38bdf8;
}

.gesture-box h2{
    color:#38bdf8;
    margin-bottom:10px;
}

#gesture{
    font-size:32px;
    color:#22c55e;
    font-weight:bold;
}

@media(max-width:768px){
    h1{
        font-size:28px;
    }

    #gesture{
        font-size:24px;
    }
}
